.product-list-container {

  height: 100%;

  .product-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .product-list {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .product-list-container {
    display: flex;
    flex-direction: column;
    padding: 20px 0px 0px 0px;
  }

  .product-list {
    margin-top: 10px;
  }


}