.container{
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
   
    .content{
        overflow-x: auto;
    }
}
@media screen and (max-width: 768px){
    .ant-layout-header{
        padding: 0 15px;
    }
    
}