.user-list-container {
    height: 100%;
    padding: 0 20px;

    .user-list-header {
        display: flex;
        justify-content: space-between;
    }

    .user-list {
        width: 100%;
    }
}
.user_view_tree{
    :where(.css-dev-only-do-not-override-1y91f9s).ant-tree {
        background:transparent !important;
    }
}
@media screen and (max-width: 768px) {
    .user-list-container {
        display: flex;
        flex-direction: column;
        padding: 0;
    }
}